# Here are some examples on how to use PANDAS library
- https://pandas.pydata.org
- https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

In [2]:
import pandas as pd

### Dataframe concatenation and Iterative creation of a dataframe

In [16]:
df1=pd.DataFrame({'a':[5,5,5,5],'b':[4,4,4,4]},index=[1,2,3,4])
df2=pd.DataFrame({'a':[6,6,6,6],'b':[3,3,3,3]},index=[1,2,3,4])

In [17]:
df1

   a  b
1  5  4
2  5  4
3  5  4
4  5  4

In [18]:
pd.concat([df1,df2])

   a  b
1  5  4
2  5  4
3  5  4
4  5  4
1  6  3
2  6  3
3  6  3
4  6  3

In [19]:
pd.concat([df1,df2],ignore_index=True)

   a  b
0  5  4
1  5  4
2  5  4
3  5  4
4  6  3
5  6  3
6  6  3
7  6  3

In [20]:
a=[1,2,3,4,5,6,7,8]
b=[5,6,4,3,2,4,5,2]

In [22]:
sumdf=pd.DataFrame()
for x,y in zip(a,b):
    df=pd.DataFrame({'a':[x],'b':[y]})
    sumdf=pd.concat([sumdf,df],ignore_index=True)
sumdf

   a  b
0  1  5
1  2  6
2  3  4
3  4  3
4  5  2
5  6  4
6  7  5
7  8  2